<nav class="navigation">
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('home') }}">Accueil</a>
</nav>