<nav class="navigation">
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('book') }}">Liste de livre</a>
    <a href="{{ path('read') }}">Lecture</a>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('home') }}">Accueil</a>
</nav>